<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de Fornecedores</title>
	<link rel="stylesheet" type="text/css"
	      href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container table-responsive">
	<h2>Lista de Fornecedores</h2>
	<hr/>
	<a th:href="@{/addFornecedorForm}" class="btn btn-primary mb-2">Adicionar Fornecedor</a>
	<table class="table table-bordered table-striped table-responsive-sm" id="fornecedor-table">
		<thead>
		<tr>
			<th rowspan="2">Razão Social</th>
			<th rowspan="2">CNPJ</th>
			<th rowspan="2">E-mail</th>
			<th rowspan="2">Telefone</th>
			<th colspan="4">Endereço</th>
			<th rowspan="2">Atividades</th>
			<th rowspan="2">Representante</th>
			<th rowspan="2">Actions</th>
		</tr>
		<tr>
			<th>CEP</th>
			<th>Logradouro</th>
			<th>Estado</th>
			<th>Cidade</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="fornecedor: ${fornecedor}">
			<td th:text="${fornecedor.razaoSocial}"></td>
			<td th:text="${fornecedor.cnpj}"></td>
			<td th:text="${fornecedor.email}"></td>
			<td th:text="${fornecedor.telefone}"></td>
			<td th:text="${fornecedor.cep}"></td>
			<td th:text="${fornecedor.logradouro}"></td>
			<td th:text="${fornecedor.estado}"></td>
			<td th:text="${fornecedor.cidade}"></td>
			<td th:text="${fornecedor.atividades}"></td>
			<td>
				<table>
					</thead>
					<tbody>
					<tr th:each="fornecedor : ${fornecedor.representanteList}">
						<td th:text="${fornecedor.nome}"></td>
						<td></td>
						<td th:text="${fornecedor.cargo}"></td>
					</tr>
					</tbody>
				</table>
			</td>
			<td>
				<a th:href="@{/showUpdateForm(fornecedorId=${fornecedor.id})}" class="btn btn-info">Update</a>
				<a th:href="@{/deleteFornecedor(fornecedorId=${fornecedor.id})}" class="btn btn-danger ml-2">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
<script>
	$(document).ready(function () {
		$("#fornecedor-table").DataTable({
			'aoColumnDefs': [{
				'bSortable': false,
				'aTargets': [-1]
			}]
		});
	})
</script>
</body>
</html>